:root {
    --mainColor: #2d2d2e;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.collapse {
    margin-top: -55px;
}

.nav-link {
    background: linear-gradient( to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 2px 2.5px;
    color: #000;
    text-decoration: none;
    transition: background-size .2s;
    margin: 17px;
    color: black;
}

button.navbar-toggler {
    margin-top: -40px;
}

.nav-link:hover {
    background-size: 4px 50px;
    color: white;
}

.navbar-brand {
    margin-left: 100px;
    margin-top: 0px;
    cursor: crosshair;
}

.navbar-toggler-icon {
    font-size: 25px;
    margin-top: 8px;
}

.collapsing {
    transition: none !important;
}

.logo {
    border: 6px solid var(--mainColor);
    border-radius: 50%;
    margin-top: 8px;
}

@media (max-width :992px) {
    .navbar-brand {
        margin-left: 50px;
        margin-top: 0px;
    }
}

.name a {
    font-size: 25px;
    color: green;
    text-decoration: none !important;
}

.container {
    margin-top: 25px;
    font-size: 18px;
    line-height: 35px;
}

.span {
    color: blue;
}

.btn-primary:hover {
    background: #e14b7e !important;
    border-color: #e14b7e !important;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
    position: relative;
    width: 100%;
    height: 100vh;
    font-family: Montserrat;
}

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.text {
    color: #fbae17;
    display: inline-block;
    margin-left: 5px;
}

.bounceball {
    position: relative;
    display: inline-block;
    height: 37px;
    width: 15px;
}

.bounceball:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fbae17;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation: bounce 500ms alternate infinite ease;
    animation: bounce 500ms alternate infinite ease;
}

@-webkit-keyframes bounce {
    0% {
        top: 30px;
        height: 5px;
        border-radius: 60px 60px 20px 20px;
        -webkit-transform: scaleX(2);
        transform: scaleX(2);
    }
    35% {
        height: 15px;
        border-radius: 50%;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    100% {
        top: 0;
    }
}

@keyframes bounce {
    0% {
        top: 30px;
        height: 5px;
        border-radius: 60px 60px 20px 20px;
        -webkit-transform: scaleX(2);
        transform: scaleX(2);
    }
    35% {
        height: 15px;
        border-radius: 50%;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    100% {
        top: 0;
    }
}